<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-check"></span>
        Add Assessment
    </h4>
</div>
<div class="modal-body">
    <form name="assessmentForm">
        <div class="row-fluid">
            <div class="col-md-6">
                <ng-form name="nameForm">
                    <div class="control-group span6">
                        <label class="control-label">* Name:</label>
                        <div class="controls">
                            <input  control-group="false" value="{{ model.assessment.name }}"  name="name" id="name" class="form-control" type="text" placeholder="Enter Assessment Name" ng-model="model.assessment.name" isrequired="true" field-validate autofocus>
                        </div>
                    </div>
                </ng-form>
            </div>
            <div class="col-md-6">
                <ng-form name="priceForm">
                    <div class="control-group">
                        <label class="control-label">* Price Per In Shell Lb.:</label>
                        <div class="controls">
                            <input control-group="false" value="{{ model.assessment.price }}" name="price" id="price" class="form-control" type="text" placeholder="Enter Price" ng-model="model.assessment.price" isrequired="true" field-validate>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </form>
    <div style="clear: both;"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="model.saveAssessment()" ng-disabled="assessmentForm.$invalid"><i class="glyphicon glyphicon-save"></i> Save</button>
    <button type="button" class="btn btn-warning" ng-click="$dismiss()"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
    <!--<button class="btn btn-link" ng-click="returnToList()">Return To List</button>-->
</div>