<div class="container view-container">
    <div class="row-fluid">
        <div class="pull-right">
            <!--<button class="btn btn-success"-->
                    <!--type="button"-->
                    <!--ram-modal-title="Manage Varieties"-->
                    <!--ram-custom-modal="schedule/varieties-modal.html"-->
                    <!--ram-modal-controller="VarietiesController">-->
                <!--<i class="glyphicon glyphicon-cog"></i> Manage Varieties-->
            <!--</button>-->
            <button ng-hide="model.isNew" class="btn" type="button"  ng-click="model.savePaymentSchedule()">
                <i class="glyphicon glyphicon-plus"></i> Add Payment Schedule
            </button>
        </div>
        <h3>Payment Schedules</h3>
        <hr />
        <div ng-repeat="schedule in model.paymentSchedules track by $index">
            <div class="jumbotron">
                <div class="col-md-4">
                    <h4>{{ schedule.name }}</h4>
                </div>
                <div class="col-md-4">
                    <input placeholder="Enter scheduled dates" id="paymentDatesLabel" class="form-control" ng-model="model.paymentSchedules[$index].scheduledDates" value="{{ schedule.scheduledDates }}"/>
                </div>
                <div class="col-md-4">
                    <div class="pull-right" style="margin-right: 0px;">
                        <button class="btn btn-info" type="button"  ng-click="model.updatePaymentSchedule(schedule)">
                            <i class="glyphicon glyphicon-floppy-save"></i> Update Payment Schedule
                        </button>
                    </div>
                </div>
                <div class="clearfix"/>
                <hr/>
                <div style="margin-top: 10px;" ng-repeat="payment in schedule.progressPayments | orderBy: payment.paymentType">
                    <div class="col-md-3 form-horizontal">
                        <div class="form-group">
                            <b class="col-md-12">{{ payment.name }}</b>
                        </div>
                        <div class="form-group">
                            <b class="col-md-12">Scheduled Date:</b>
                            <div class="col-md-12">
                                <p class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           cc-datepicker-popup="MM/dd/yyyy"
                                           ng-model="payment.paymentDate"
                                           is-open="model.progressPaymentDate_{{ schedule.title }}_{{ payment.paymentType }}"
                                           id="scheduledDate_{{ $index }}"
                                           ng-required="true"
                                           close-text="Close" />
                                      <span class="input-group-btn">
                                        <button type="button"
                                                id="progressPaymentDate_{{ schedule.title }}_{{ payment.paymentType }}"
                                                class="btn btn-default"
                                                ng-click="model.openDatePicker($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                      </span>
                                </p>
                            </div>
                        </div>
                        <div style="padding: 10px; border-radius: 5px; background-color: #f0f0f0;">
                            <div  ng-repeat="variety in payment.varieties" class="form-group">
                                <div class="col-md-7">
                                    <b>{{ variety.name }}:</b>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" ng-model="variety.price" value="{{ variety.price }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"/>
            </div>
        </div>
    </div>
</div>