<div class=" slim-view">
    <form id="login-form" class="form-login clearfix well well-sm" autocomplete="off" ng-submit="model.login(model.credentials)">
        <header class="img-logo center avatar">
            <!--<img class="img-circle" src="../../assets/img/logo.gif" />-->
            <h2>Grower Payments</h2>
        </header>

        <div ng-show="model.message" class="login-message alert-danger text-center" style="padding: 5px; margin-bottom: 10px;">
            {{ model.message }}
        </div>

        <div class="form-group">
            <input name="email" class="form-control" type="email" placeholder="Email" ng-model="model.credentials.email" required autofocus>
        </div>
        <div class="form-group">
            <input name="password" class="form-control" type="password" placeholder="Password" autocomplete="off" ng-model="model.credentials.password" required>
        </div>
        <button class="btn btn- btn-primary btn-block" type="submit">
            Sign in
        </button>
        <hr/>
    </form>
</div>