<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <a class="menu-toggler" href="#"><i class="icon-reorder"></i></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Grower Payments</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:$state.includes('root.profile')}">
                    <a href="" ui-sref="root.profile">Grower Profiles</a>
                </li>
                <li ng-class="{active:$state.includes('root.schedule')}">
                    <a href="" ui-sref="root.schedule.details">Master Schedule</a>
                </li>
                <li ng-class="{active:$state.includes('root.reports')}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" ui-sref="root.reports.grower-payment">Grower Payment Report</a>
                        </li>
                        <li>
                            <a href="" ui-sref="root.reports.label-report">Payee Avery Label Report</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li ng-show="model.isAuthenticated()">
                    <a href="#">{{ model.getLoggedOnUser() }}</a>
                </li>
                <li>
                    <a ng-show="!model.isAuthenticated()" ui-sref="root.login"><i class="glyphicon glyphicon-log-in"></i></a>
                </li>
                <li>
                    <a ng-show="model.isAuthenticated()" title="Log Out" ng-click="model.logOut()"><i class="glyphicon glyphicon-log-out"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>