<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-check"></span>
        Add Assessment
    </h4>
</div>
<div class="modal-body">
    <form name="assessmentForm">
        <div class="row-fluid">
            <table class="table table-hover table-striped">
                <thead>
                <tr class="bg-primary">
                    <th>Name</th>
                    <th>Price Per In Shell Lb.</th>
                    <th style="text-align: right;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="assessment in model.availableAssessments">
                    <td>
                        {{ assessment.name }}
                    </td>
                    <td>
                        {{ assessment.price }}
                    </td>
                    <td style="text-align: right;">
                        <input ng-model="model.availableAssessments[$index].checked" type="checkbox" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div style="clear: both;"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="model.saveAssessments()" ng-disabled="assessmentForm.$invalid"><i class="glyphicon glyphicon-save"></i> Save</button>
    <button type="button" class="btn btn-warning" ng-click="$dismiss()"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
    <!--<button class="btn btn-link" ng-click="returnToList()">Return To List</button>-->
</div>