<div class="container view-container">
    <div class="row-fluid">
        <div class="pull-right">
            <button class="btn" type="button"
                    ram-modal-title="Add Payee"
                    ram-custom-modal="profile/payee-modal.html"
                    ram-post-submit-action="model.loadPayees()"
                    ram-modal-controller="ProfilePayeesModalController">
                <i class="glyphicon glyphicon-plus"></i> Add Payee
            </button>
            <button class="btn btn-info" type="button"  ng-click="model.updatePayees()">
                <i class="glyphicon glyphicon-floppy-save"></i> Update Payees
            </button>
        </div>
        <h3>Payees</h3>
        <hr />
        <div>
            <div class="col-md-3 form-horizontal" style="margin-top: 10px; padding: 10px;" ng-repeat="payee in model.payees">
                <div style="padding: 10px; border-radius: 5px; background-color: #f0f0f0;">
                    <div class="form-group">
                        <div class="col-md-12">
                            <b>First Name:</b>
                            <div>
                                <input class="form-control" ng-model="payee.firstName" value="{{ payee.firstName }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Last Name:</b>
                            <div>
                                <input class="form-control" ng-model="payee.lastName" value="{{ payee.lastName }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Check Made To:</b>
                            <div>
                                <input class="form-control" ng-model="payee.checkMadeTo" value="{{ payee.checkMadeTo }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Address:</b>
                            <div>
                                <input class="form-control" ng-model="payee.address" value="{{ payee.address }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>City:</b>
                            <div>
                                <input class="form-control" ng-model="payee.city" value="{{ payee.city }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>State:</b>
                            <div>
                                <input style="width: 75px;" class="form-control" ng-model="payee.state" value="{{ payee.state }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Zip:</b>
                            <div>
                                <input style="width: 100px;" class="form-control" ng-model="payee.zip" value="{{ payee.zip }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Email:</b>
                            <div>
                                <input class="form-control" type="email" ng-model="payee.email" value="{{ payee.email }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Fax:</b>
                            <div>
                                <input class="form-control" ng-model="payee.fax" value="{{ payee.fax }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Work Phone:</b>
                            <div>
                                <input class="form-control" ng-model="payee.workPhone" value="{{ payee.workPhone }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Cell Phone:</b>
                            <div>
                                <input class="form-control" ng-model="payee.cellPhone" value="{{ payee.cellPhone }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <b>Split Percent:</b>
                            <div>
                                <input style="width: 75px;" class="form-control" ng-model="payee.splitPercent" value="{{ payee.splitPercent }}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr/>
                            <button class="btn btn-danger" ng-click="model.deletePayee(payee)">
                                <i class="glyphicon glyphicon-remove"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"/>
        </div>
    </div>
</div>