<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-check"></span>
       Make A Payment
    </h4>
</div>
<div class="modal-body">
    <form name="paymentForm">
        <div class="row">
            <div class="btn-group col-lg-3 col-md-3 col-sm-6" dropdown style="width: 200px;">
                <button style="width: 200px;" type="button" class="btn btn-primary dropdown-toggle" ng-click="model.toggleDropdown($event)" ng-disabled="model.disabled">
                    {{ model.selectedPayment.name }} <span class="caret"></span>
                </button>
                <ul style=" margin-left: 15px;" class="dropdown-menu drop-down-menu" role="menu">
                    <li ng-repeat="payment in model.paymentTypes">
                        <div ng-model="model.selectedGrowerPayment.paymentType" ng-click="model.paymentTypeSelected(payment)">
                            <b>{{ payment.name }}</b>
                            <br />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        <div ng-show="model.showProgressPayments" class="row">
            <div class="btn-group col-lg-6 col-md-6 col-sm-6 form-group" dropdown style="width: 200px;">
                <b>Apply amount to: </b>
                <button type="button" class="btn btn-default dropdown-toggle" ng-click="model.toggleDropdown($event)" ng-disabled="model.disabled">
                    {{ model.selectedProgressPayment.name }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu drop-down-menu" role="menu">
                    <li ng-repeat="progressPayment in model.selectedSchedule.progressPayments">
                        <div ng-model="model.selectedGrowerPayment.applyToPaymentType" ng-click="model.progressPaymentSelected(progressPayment)">
                            <b>{{ progressPayment.name }}</b>
                            <br />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 form-group">
                <b>Amount: </b>
                <input class="form-control" ng-disabled="model.isReadOnly" ng-model="model.selectedGrowerPayment.amount" required />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                <b>Transaction Date: </b>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{'MM/dd/yyyy'}}" ng-model="model.selectedGrowerPayment.transactionDate" is-open="model.opened" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button class="btn " ng-click="model.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <b>Notes: </b>
                <textarea class="form-control"  control-group="false" value="{{ model.paymentNote }}"  name="note" id="note" type="text" placeholder="Enter note" ng-model="model.selectedGrowerPayment.note"></textarea>
            </div>
        </div>
    </form>
    <div style="clear: both;"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="model.savePayment()" ng-disabled="assessmentForm.$invalid"><i class="glyphicon glyphicon-save"></i> Save</button>
    <button type="button" class="btn btn-warning" ng-click="$dismiss()"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>
    <!--<button class="btn btn-link" ng-click="returnToList()">Return To List</button>-->
</div>