<div class="container view-container">
    <div class="row-fluid">
        <div class="col-md-9 pull-right" style="margin-top: 10px;">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="cropYear" class="control-label col-md-3 messagecontainer"><b>Crop Year:</b></label>
                    <div class="col-md-3">
                        <select id="cropYear"
                                class="form-control"
                                ng-model="model.selectedCropYear"
                                ng-change="model.reloadData()">
                            <option ng-repeat=" y in model.cropYears"
                                    ng-selected="y == model.selectedCropYear">
                                {{ y }}
                            </option>
                        </select>
                    </div>
                    <label for="growers" class="control-label col-md-2 messagecontainer"><b>Growers:</b></label>
                    <div class="col-md-4">
                        <select id="growers"
                                class="form-control"
                                ng-model="model.selectedGrower"
                                ng-change="model.reloadData()">
                            <option value="">-- Select Grower --</option>
                            <option ng-repeat=" g in model.growers"
                                    value="{{ g }}"
                                    ng-selected="g == model.selectedGrower">
                                {{ g.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
       <div class="col-md-3">
           <h3>Grower Profile</h3>
       </div>
    </div>
</div>
<div ui-view="notes"></div>
<div ui-view="assessments"></div>
<div ui-view="schedule"></div>
<div ui-view="payment-history"></div>
<div ui-view="payees"></div>